@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "first-font";
  src: local("first-font"), url("./icon-fonts/first-font/fonts/icomoon.ttf") format("ttf"), url("./icon-fonts/first-font/fonts/icomoon.woff") format("woff"), url("./icon-fonts/first-font/fonts/icomoon.svg") format("svg"), url("./icon-fonts/first-font/fonts/icomoon.eot") format("eot");
}
@font-face {
  font-family: "second-font";
  src: local("second-font"), url("./icon-fonts/second-fonts/fonts/icomoon.ttf") format("ttf"), url("./icon-fonts/second-fonts/fonts/icomoon.woff") format("woff"), url("./icon-fonts/second-fonts/fonts/icomoon.svg") format("svg"), url("./icon-fonts/second-fonts/fonts/icomoon.eot") format("eot");
}
.primary-button-active, .primary-button {
  font-size: 22px;
  border-radius: 20px;
  height: 72px;
  padding: 0 50px;
}

.primary-button-active, .secondary-button-active, .tertiary-button-active {
  border: 1px solid #A259FF;
  color: #FFFFFF;
  background-color: #A259FF;
}

.primary-button, .secondary-button, .tertiary-button {
  border: 2px solid #A259FF;
}

.secondary-button, .secondary-button-active {
  font-size: 16px;
  border-radius: 20px;
  padding: 0 50px;
  height: 60px;
}

.tertiary-button, .tertiary-button-active {
  font-size: 16px;
  border-radius: 20px;
  padding: 0 50px;
  height: 48px;
}

.secondary-button, .primary-button, .tertiary-button {
  background-color: transparent;
  color: #FFFFFF;
}

@media screen and (max-width: 835px) {
  .container {
    max-width: 690px;
    margin: 0 auto;
  }
  .navigation-inner {
    padding: 15px 50px;
  }
  .navigation__logo {
    font-size: 22px;
  }
  .navigation__list {
    display: none;
    position: absolute;
    top: 70px;
    right: 45px;
    background-color: #3B3B3B;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    width: 200px;
  }
  .navigation__link {
    font-size: 14px;
  }
  .navigation__button {
    padding: 0px 50px;
    height: 40px;
  }
  .burger {
    cursor: pointer;
    color: #FFFFFF;
    font-size: 26px;
  }
  .burger-toggle {
    display: none;
  }
  .icon-List::before {
    display: inline-block;
  }
  .burger-toggle:checked + .burger + .navigation__list {
    display: flex;
  }
  .discover-inner {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
  }
  .left__title {
    font-size: 38px;
    line-height: 45.6px;
    width: 330px;
  }
  .left__text {
    font-size: 16px;
    line-height: 22.4px;
    width: 330px;
    margin-bottom: 20px;
  }
  .discover__button {
    margin-bottom: 20px;
  }
  .numbers__additional-info {
    font-size: 16px;
    line-height: 22.4px;
  }
  .bold {
    font-weight: 700px;
    font-size: 22px;
  }
  .discover__right {
    align-self: start;
  }
  .right__img {
    max-width: 100%;
    max-height: 100%;
  }
  .right__title {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 835px) {
  .delete-on-tablet {
    display: none;
  }
  .collection-wrapper {
    margin-top: 40px;
  }
  .collection__title {
    font-size: 28px;
    line-height: 39.2px;
  }
  .collection__text {
    font-size: 16px;
    line-height: 22.4px;
  }
}
@media screen and (max-width: 835px) {
  .creators-top__title {
    font-size: 28px;
    line-height: 39.2px;
  }
  .creators-top__text {
    font-size: 16px;
    line-height: 22.4px;
  }
  .creators__wrapper-sales {
    align-items: start;
  }
  .creators-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
    width: 690px;
    height: 360px;
  }
  .creators__card {
    flex-direction: row;
    align-items: center;
    padding: 0px;
    height: 100px;
    width: 330px;
  }
  .creators__img {
    margin-bottom: 0px;
    max-width: 60%;
    max-height: 60%;
    margin-right: 20px;
  }
}
@media screen and (max-width: 835px) {
  .browse__text {
    font-size: 28px;
    line-height: 39.2px;
    margin-bottom: 40px;
  }
  .browse__link {
    width: 150px;
    height: 209px;
  }
  .browse__img {
    width: 100%;
    height: 100%;
  }
  .browse__title {
    font-size: 16px;
    line-height: 22.4px;
    padding: 20px 0 25px 20px;
  }
  .browse__icon {
    width: 50%;
    height: 50%;
  }
}
@media screen and (max-width: 835px) {
  .more-top-wrapper {
    margin-bottom: 40px;
  }
  .more-top__title {
    font-size: 28px;
    line-height: 39.2px;
  }
  .more-top__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }
  .more__wrapper {
    overflow: hidden;
  }
}
@media screen and (max-width: 835px) {
  .magic__text {
    padding: 11px 20px;
  }
  .magic__title {
    font-size: 38px;
    line-height: 45.6px;
  }
  .magic__wrapper-timer {
    padding: 30px;
  }
  .magic__ends {
    font-size: 12px;
    line-height: 13.2px;
  }
  .magic__hour {
    font-size: 15px;
    text-align: center;
  }
}
@media screen and (max-width: 835px) {
  .started__title {
    font-size: 28px;
    line-height: 39.2px;
  }
  .started__text {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 40px;
  }
  .started__card {
    height: 297px;
    width: 170px;
    padding: 10px 20px 30px 20px;
  }
  .started__card__img {
    width: 160px;
    height: 160px;
  }
  .started__card__title {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 10px;
  }
  .started__card__text {
    font-size: 12px;
    line-height: 16.8px;
  }
}
@media screen and (max-width: 835px) {
  .join__wrapper {
    gap: 30px;
    padding: 40px 30px;
  }
  .join__img {
    width: 300px;
    height: 280px;
  }
  .join__title {
    line-height: 39.2px;
    font-size: 28px;
  }
  .join__text {
    font-size: 16px;
    line-height: 22.4px;
  }
  .join__input {
    padding: 0px 80px 0px 20px;
    font-size: 16px;
    line-height: 22.4px;
    height: 48px;
    margin-bottom: 16px;
  }
  .join__button {
    margin-left: 0px;
    height: 48px;
    width: 291.2px;
    text-align: center;
  }
}
@media screen and (max-width: 835px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .footer__logo, .footer__caption {
    margin-bottom: 20px;
  }
  .logo {
    margin-bottom: 0;
  }
  .footer__caption {
    font-size: 22px;
    line-height: 35.2px;
  }
  .footer__form {
    margin-bottom: 49px;
  }
}/*# sourceMappingURL=tablet-style.css.map */