$font-first: "Space Mono", monospace;
$title-level-1: 67px;
$title-level-2: 51px;
$title-level-3: 38px;
$title-level-4: 28px;
$title-level-5: 22px;
$title-base: 16px;
$font-second:"Work Sans", sans-serif;
$background: #2B2B2B;
$background-secondary: #3B3B3B;
$caption-and-label-text: #858584;
$text: #FFFFFF;
$call-to-action:#A259FF;
$gradient-2: linear-gradient(#A259FF, #377DF7);
$gradient-1: linear-gradient(#A259FF, #FF6250);




//navigation

@media screen and (max-width:376px){
    .container{
        max-width: 315px;
        margin: 0 auto;
    }
    .navigation-inner{
        padding: 15px 30px;
    }
    .navigation__button{
        padding: 0px 50px;
        height: 40px;
    }
    .discover-inner{
        flex-direction: column;
        padding-top: 40px;
        gap: 10px;
    }
    .left__button{
        margin-bottom: 20px;
        width: 315px;
        order: 5;
    }
    .left__title{
        font-size: $title-level-4;
        line-height: 39.2px;
        width:  315px;
    }
    .left__text{
        width: 315px;
    }
    .numbers{
        column-gap: 43px;
        order: 4;
        margin-bottom: 20px;
    }
}
//main 
@media  screen and (max-width:376px){
    .main__wrapper{
        flex-direction: column;
    }
    .main__img{
        width: 375px;
        height: 232px;
        margin-left: -30px;
    }
    .main__button{
        margin-bottom: 40px;
    }
}
//footer
@media  screen and (max-width:376px){
    .social{
        margin-bottom: 0;
    }
    .footer__form{
        margin-bottom: 30px;
    }
    .footer__input{
        height: 46px;
        width: 245px;
        margin-bottom: 16px;
    }
    .footer__button{
        height: 46px;
        width: 315px;
        margin-left: 0;
    }
}